@model Wall.Models.LoginViewModel
@{
    ViewBag.Title = "Faça login";
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin" }))
{
    <img class="mb-4" src="~/Content/Img/favicon.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Faça login</h1>
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", autofocus = "autofocus", required = "required", placeholder = "Seu usuário" })
    @Html.PasswordFor(x => x.Password, new { @class = "form-control", required = "required", placeholder = "Senha" })
    <div class="checkbox mb-3">
        @Html.CheckBoxFor(x => x.RememberMe)
        @Html.LabelFor(x => x.RememberMe)
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    <small>Ainda não tem conta? @Html.ActionLink("Registre-se", "Register", "Account")</small>
}