@model  Wall.Models.FraseViewModel

@{
    ViewBag.Title = $"{(Model.Id == 0 ? "Postar" : "Editar")} frase";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("AddEdit", "Home", FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.TextBoxFor(x => x.Titulo, new { @class = "form-control", autofocus = "autofocus", required = "required", placeholder = "Titulo" })
    @Html.TextBoxFor(x => x.Frase, new { @class = "form-control", required = "required", placeholder = "Frase" })
    if (Model.Id == 0)
    {
        @Html.HiddenFor(x => x.Autor, new { Value = User.Identity.Name })
    }
    else
    {
        @Html.HiddenFor(x => x.Autor)
    }
    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Salvar</button>
    <button class="btn btn-block text-white">@Html.ActionLink("Cancelar", "Index", "Home")</button>
}